/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.layouts{
  min-height: 100vh;
  position: relative;
}
 
 main{
    background-image: url(background-sample.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
    width: 100%;
    }
 


.mini-title{
  background-color: #B8860B;/*背景色*/
  display: inline-block;
  height: auto;
  width: auto;
  padding: 0 10px;
  margin: 10px;
  }

.card{
  width: 700px;
  height: 450px;
  opacity: 0.7;
  }

.greeting-message{
  height: 180px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  }

.image-photo{
  margin: 0px 20px 10px;
  display: flex;
}


header{
  background-color: #CD853F;
  }

footer{
  background-color: #CD853F;
  }

footer p{
   text-align: center;
   font-size: small;
   }

.copy{
  font-size: x-small}

.social i{
  display: inline-block;
  }

.table-background {
  background-color: rgba(0,0,0,0.3);
}
