<div class="card mt-4" style="width: 12rem;">
  <h6 class="card-header text-center font-weight-bold">ジャンル一覧</h6>
   <div class="card-body">
    <% genres.each do |genre| %>
     <div class="my-2">
      <%= genre.name %>
     </div>
    <% end %>
  </div>
 </div>
