<table class="table table-bordered">
  <thead>
   <tr>
    <th class="table-baskground text-center">ジャンル一覧
    <% genres.each do |genre| %>
    <br><%= genre.name %><br></th>
    <% end %>
   </tr>
  </thead>
 </table>
