<!-- <table class="table table-bordered"> -->
<!--   <thead> -->
<!--    <tr> -->
<!--     <th class="table-baskground text-center">ジャンル一覧 -->
<!--     <% genres.each do |genre| %> -->
<!--     <br><%= genre.name %><br></th> -->
<!--     <% end %> -->
<!--    </tr> -->
<!--   </thead> -->
<!--  </table> -->
<div class="card mt-4" style="width: 12rem;">
  <h6 class="card-header text-center font-weight-bold">ジャンル一覧</h6>
   <div class="card-body">
    <% genres.each do |genre| %>
     <div class="my-2">
      <%= genre.name %>
     </div>
    <% end %>
  </div>
 </div>