<div class="container py-3">
 <div class="row">
   <div class="card">
    <h6 class="card-header text-center">ジャンル一覧</h6>
     <div class="card-body text-center">
      <% genres.each do |genre| %>
       <div><%= genre.name %></div>
      <% end %>
     </div>
   </div>
 </div>
</div>