<table class="mt-3 col-7 text-center table-bordered">
  <thead class="table-danger">
   <tr>
    <th style="height:40px;">ジャンル一覧</th>
   </tr>
  </thead>
 <tbody class="table-warning">
   <% genres.each do |genre| %>
    <tr>
     <td style="height:40px;"><%= genre.name %></td>
    </tr>
   <% end %>
  </tbody>
 </table>
