<div class="border-top border-dark">
  <div class="mx-auto row social">
   test
  </div>
  <div class="row">
    <p class="mx-auto">〒×××-××××<br>
      長野県××市××町×-××-×<br>
       <i class="fab fa-twitter-square">test</i>
       <i class="fa-brands fa-twitter-square">test</i>
      ×××-×××-××××<br>
      定休日：火曜（祝日時は営業）・木曜<br>
      営業時間：××時～××時</p>
  </div>
  <i class="fa-solid fa-phone-rotary"></i>
  <div class="row">
    <p class="copy mx-auto">©2022 NaganoCake produced by team nudle</p>
  </div>
</div>