<div class="border-top border-dark pt-2">
  <div class="row social">
    <div class="mx-auto">
      <%= link_to "https://twitter.com/?lang=ja" do %>
        <i class="fab fa-twitter-square fa-2x mr-3"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/" do %>
        <i class="fab fa-facebook-square fa-2x mr-3"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/" do %>
        <i class="fab fa-instagram fa-2x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <p class="mx-auto">〒×××-××××<br>
      長野県××市××町×-××-×<br>
      ×××-×××-××××<br>
      定休日：火曜(祝日時は営業)・木曜<br>
      営業時間：××時～××時<br>
      ©2022 NaganoCake produced by team noodle</p>
  </div>
</div>