<div class="border-top border-dark">
  <div class="row social">
    <div class="mx-auto">
     <i class="fab fa-twitter-square fa-2x mr-3"></i>
     <i class="fab fa-facebook-square fa-2x mr-3"></i>
     <i class="fab fa-instagram fa-2x"></i>
    </div>
  </div>
  <div class="row">
    <p class="mx-auto">〒×××-××××<br>
      長野県××市××町×-××-×<br>
      ×××-×××-××××<br>
      定休日：火曜（祝日時は営業）・木曜<br>
      営業時間：××時～××時</p>
  </div>
  <div class="row">
    <p class="copy mx-auto">©2022 NaganoCake produced by team nudle</p>
  </div>
</div>